<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Depth" value="3"/>
    <add key="RootLink" value="http://html-agility-pack.net/"/>
    <add key="FullTraversal" value="true"/>
    <add key="DestinationFolder" value="${TempPath}/TestFileWrite"/>
  </appSettings>
</configuration>